
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@mixin make-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin heightAndWidth($height, $width){
    height: $height;
    width: $width;
}
@mixin gradient($deg, $color1, $color2){
    background: linear-gradient($deg, $color1, $color2);
}

html{
    @include gradient(45deg, rgb(221, 252, 221), rgb(243, 240, 240));
}

body{
    font-family: 'Poppins', sans-serif;
    }

main{
    height: 100vh;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include heightAndWidth(100%, 100%);
    @include gradient(45deg, rgb(221, 252, 221), rgb(243, 240, 240));
}
.firstSonContainer{
    @include make-flex();
    flex-direction: column;
    @include heightAndWidth(20%, 100%);
    h1{
        margin-top: 1%;
        font-size: 2rem;
    }
}

.searchInfo{
    margin-top: 2%;
    @include make-flex();
    @include heightAndWidth(80%, 100%);

    .input-container{
        @include heightAndWidth(100%, 60%);
        #input{
            @include heightAndWidth(100%, 100%);
            border-radius: 15px;
            border:2px solid white;
            text-align: center;
            font-size: x-large;
            flex-shrink: 0;
        }
    }

    }
    .inputGrams{
        @include heightAndWidth(100%, 60%);
    }

    #button{
        @include heightAndWidth(100%, 7%);
        border: 2px solid white ;
        border-radius: 15px;
        background-color: rgb(218, 216, 216);
        margin-left: 3%;
            .fa-search{
                font-size: 20px;
            }
     }
    
    .button-grams{
        @include heightAndWidth(100%, 10%);
        border: 2px solid white ;
        border-radius: 15px;
        background-color: rgb(218, 216, 216);
        .fa-search{
            font-size: 20px;
        }
    }
    #button:hover{
        background-color: rgb(94, 93, 93);
        cursor: pointer;
        color: white;
        .fa-search{
            font-size: 25px;
        }
    }
    .button-grams:hover{
        background-color: rgb(94, 93, 93);
        cursor: pointer;
        color: white;
        .fa-search{
            font-size: 25px;
        }
    }

form{
    @include heightAndWidth(60%, 70%);
    @include make-flex();
}
.secondSonContainer{
    @include make-flex();
    @include heightAndWidth(100%, 50%);
    flex-direction: column;
    font-size: 2em;
    }
    .nutritionInfo{
        margin-left: 2%;
        text-align: left;
        @include heightAndWidth(90%, 100%);
        flex-direction: column;
        overflow: hidden;
        h2{
            font-size:42px;
            text-align: center;
        }
        p{
        width: 100%;
        display: flex;
        justify-content:space-between;
        margin-bottom: 1%;
            span{
                background-color: rgb(209, 208, 208);
                border-radius: 10px;
                margin-right: 5px;
            }
        }
}
.addFoodButton{
    cursor: pointer;
    background-color: white;
    border: 2px solid rgb(66, 159, 57);
    border-radius: 10px;
    color: rgb(31, 112, 31);
    font-size: 2rem;
    @include heightAndWidth(10%, 30%);
    margin-top: 5%;
}
.addFoodButton:hover{
    background-color: rgb(206, 204, 204);
    color: rgb(206, 249, 206);
}

.meal-list{
    justify-content: start;
    @include heightAndWidth(80vh, 50%);
    @include make-flex();
    flex-direction: column;
    h3{
        font-size:42px;
    }
    font-size: 2em;

}
.secondContainer{
    @include make-flex();
    align-items: stretch;

    @include heightAndWidth(100%, 100%);
}
.newFoodButton{
    @include heightAndWidth(100%, 20%);
    border: 2px solid white ;
    border-radius: 15px;
    background-color: rgb(218, 216, 216);
    .fa-search{
        font-size: 20px;
    }
}
.newFoodButton:hover{
    background-color: rgb(94, 93, 93);
    cursor: pointer;
    color: white;
    .fa-search{
        font-size: 25px;
    }
}

.displayed-all-nutrition{
    @include make-flex();
    flex-direction: column;
    h2{
        font-size: 2em;
    }
    p{
        justify-content:space-between;
        margin-bottom: 3%;
        font-size: 2em;

        span{
            background-color: rgb(209, 208, 208);
            border-radius: 10px;
            margin-right: 5px;
        }
    }
}
.display-nutrition-container{
    margin-top: 2px;
    @include make-flex();
    flex-direction: column;
    overflow-y: auto;
}
.restart-button{
    @include heightAndWidth(8%, 15%);
    border: 2px solid white ;
    border-radius: 15px;
    background-color: rgb(218, 216, 216);
    font-size: 20px;
}

.restart-button:hover{
    background-color: rgb(94, 93, 93);
    cursor: pointer;
    color: white;
    .fa-search{
        font-size: 25px;
    }
}

.sumButton{
    cursor: pointer;
    background-color: white;
    border: 2px solid rgb(66, 159, 57);
    border-radius: 10px;
    color: rgb(31, 112, 31);
    font-size: 2rem;
    @include heightAndWidth(10%, 30%);
    margin-top: 1%;
    margin-bottom: 2%;
}
.sumButton:hover{
    background-color: rgb(206, 204, 204);
    color: rgb(206, 249, 206);
}

.ulList{
    list-style: none;
    @include heightAndWidth(100%, 100%);
    flex-direction: column;
    @include make-flex();
    justify-content: start;
    overflow-y: auto;
}



.liElements{
    @include make-flex();
    justify-content: space-between; /* Coloca el texto y el botón separados */
    align-items: center; /* Centra los elementos verticalmente */
    margin-top: 3%;

    span{
        width: 100%;
        background-color: rgb(209, 208, 208);
        border-radius: 10px;
    }
}

.deleteButton{
    margin-left: 18px; /* Espacio entre el texto y el botón */
    background-color: #f44336; /* Rojo para resaltar */
    color: white;
    font-size: 25px;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
}
.deleteButton:hover{
    background-color: #ba1515; /* Rojo para resaltar */
}

.error-message{
    color:rgb(222, 8, 8);
    font-size: 20px;
    display: block;
    text-align: center;
}

@media (max-width: 480px){
    .container{
        min-height: 100vh;
    }

    h1{
        font-size: 1.3em !important;
        text-align: center;
        margin: 0px 10px;
    }
    #food-form{
        .input-container{
            @include heightAndWidth(100%, 75%);
            #input{
              @include heightAndWidth(100%, 100%);
              font-size: 1.2em;
            }
        } 
        .error-message{
            font-size: 15px;
        }
        #button{
            @include heightAndWidth(100%, 25%);
            margin-left: 5%;
        }
    }

    .secondContainer{
        @include heightAndWidth(80vh, 100%);
        flex-direction: column;
        justify-content: start;



       .secondSonContainer{
           @include heightAndWidth(80vh, 100%);
           overflow-x: hidden;


           .nutritionInfo{
            height: 100%;
            overflow-y: auto;

           }
           h2{
            font-size: 0.7em;
            margin-bottom: 3%;
            margin: 0px 5px;
           }
           p{
            font-size: 0.7em;
            margin-bottom: 3%;
           }
           .addFoodButton{
           @include heightAndWidth(10%, 45%);
           font-size: 1.2rem;
           margin-top: 7px;

           }
       }
       .meal-list{
        width: 100%;
        overflow-y: auto; 
        max-height: 40vh;
        margin-top: 15px;
        text-align: center;
        font-size: 1.4em;
        h3{
            font-size: 21px ;
        }
        .sumButton{
            font-size: 1.1rem;
            @include heightAndWidth(25%, 40%);

        }
        .ulList{
            @include heightAndWidth(80vh, 100%);

        }
       }
       
       .display-nutrition-container{
            margin-top: 3%;
            h2{
                font-size: 1.3em;
                margin-bottom: 1%;
            }
            p{
                font-size: 1.2em;
            }

       }
       .restart-button{
        margin-top: 2%;
        font-size: 1.1em;
        @include heightAndWidth(10%, 40%);
       }
       
    }

    
    /*.secondContainer::-webkit-scrollbar{
        display: none;
    }*/
}



