@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background: linear-gradient(45deg, rgb(221, 252, 221), rgb(243, 240, 240));
}

body {
  font-family: "Poppins", sans-serif;
}

main {
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
  background: linear-gradient(45deg, rgb(221, 252, 221), rgb(243, 240, 240));
}

.firstSonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 20%;
  width: 100%;
}
.firstSonContainer h1 {
  margin-top: 1%;
  font-size: 2rem;
}

.searchInfo {
  margin-top: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
  width: 100%;
}
.searchInfo .input-container {
  height: 100%;
  width: 60%;
}
.searchInfo .input-container #input {
  height: 100%;
  width: 100%;
  border-radius: 15px;
  border: 2px solid white;
  text-align: center;
  font-size: x-large;
  flex-shrink: 0;
}

.inputGrams {
  height: 100%;
  width: 60%;
}

#button {
  height: 100%;
  width: 7%;
  border: 2px solid white;
  border-radius: 15px;
  background-color: rgb(218, 216, 216);
  margin-left: 3%;
}
#button .fa-search {
  font-size: 20px;
}

#button:hover {
  background-color: rgb(94, 93, 93);
  cursor: pointer;
  color: white;
}
#button:hover .fa-search {
  font-size: 25px;
}

form {
  height: 90%;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.secondSonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 50%;
  flex-direction: column;
  font-size: 2em;
}

.nutritionInfo {
  margin-left: 2%;
  text-align: left;
  height: 90%;
  width: 100%;
  flex-direction: column;
  overflow: hidden;
}
.nutritionInfo h2 {
  font-size: 42px;
  text-align: center;
}
.nutritionInfo p {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1%;
}
.nutritionInfo p span {
  background-color: rgb(209, 208, 208);
  border-radius: 10px;
  margin-right: 5px;
}

.addFoodButton {
  cursor: pointer;
  background-color: white;
  border: 2px solid rgb(66, 159, 57);
  border-radius: 10px;
  color: rgb(31, 112, 31);
  font-size: 2rem;
  height: 10%;
  width: 30%;
  margin: 2% 0px;
}

.addFoodButton:hover {
  background-color: rgb(206, 204, 204);
  color: rgb(206, 249, 206);
}

.meal-list {
  justify-content: start;
  height: 80vh;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 2em;
}
.meal-list h3 {
  font-size: 42px;
}

.secondContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: stretch;
  height: 100%;
  width: 100%;
}

.displayed-all-nutrition {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.displayed-all-nutrition h2 {
  font-size: 2em;
}
.displayed-all-nutrition p {
  justify-content: space-between;
  margin-bottom: 3%;
  font-size: 2em;
}
.displayed-all-nutrition p span {
  background-color: rgb(209, 208, 208);
  border-radius: 10px;
  margin-right: 5px;
}

.display-nutrition-container {
  margin-top: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow-y: auto;
}

.restart-button {
  height: 8%;
  width: 15%;
  border: 2px solid white;
  border-radius: 15px;
  background-color: rgb(218, 216, 216);
  font-size: 20px;
}

.restart-button:hover {
  background-color: rgb(94, 93, 93);
  cursor: pointer;
  color: white;
}
.restart-button:hover .fa-search {
  font-size: 25px;
}

.sumButton {
  cursor: pointer;
  background-color: white;
  border: 2px solid rgb(66, 159, 57);
  border-radius: 10px;
  color: rgb(31, 112, 31);
  font-size: 2rem;
  height: 10%;
  width: 30%;
  margin-top: 1%;
  margin-bottom: 2%;
}

.sumButton:hover {
  background-color: rgb(206, 204, 204);
  color: rgb(206, 249, 206);
}

.ulList {
  list-style: none;
  height: 100%;
  width: 100%;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: start;
  overflow-y: auto;
}

.liElements {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between; /* Coloca el texto y el botón separados */
  align-items: center; /* Centra los elementos verticalmente */
  margin-top: 3%;
}
.liElements span {
  width: 100%;
  background-color: rgb(209, 208, 208);
  border-radius: 10px;
}

.deleteButton {
  margin-left: 18px; /* Espacio entre el texto y el botón */
  background-color: #f44336; /* Rojo para resaltar */
  color: white;
  font-size: 25px;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
}

.deleteButton:hover {
  background-color: #ba1515; /* Rojo para resaltar */
}

.error-message {
  color: rgb(222, 8, 8);
  font-size: 15px;
  display: block;
  text-align: center;
  position: absolute;
  top: 72px;
  left: 38%;
}

@media (max-width: 480px) {
  .container {
    min-height: 100vh;
  }
  h1 {
    font-size: 1.3em !important;
    text-align: center;
    margin: 0px 10px;
  }
  #food-form {
    height: 65%;
    width: 70%;
  }
  #food-form .input-container {
    position: relative;
    height: 100%;
    width: 75%;
  }
  #food-form .input-container #input {
    height: 100%;
    width: 100%;
    font-size: 1.2em;
  }
  #food-form .error-message {
    font-size: 14px;
    height: 100%;
    width: 70vw;
    top: -16px;
    left: 7px;
  }
  #food-form #button {
    height: 100%;
    width: 25%;
    margin-left: 5%;
  }
  .secondContainer {
    height: 80vh;
    width: 100%;
    flex-direction: column;
    justify-content: start;
  }
  .secondContainer .secondSonContainer {
    height: 80vh;
    width: 100%;
    overflow-x: hidden;
  }
  .secondContainer .secondSonContainer .nutritionInfo {
    height: 100%;
    overflow-y: auto;
  }
  .secondContainer .secondSonContainer h2 {
    font-size: 0.7em;
    margin-bottom: 3%;
    margin: 0px 5px;
  }
  .secondContainer .secondSonContainer p {
    font-size: 0.7em;
    margin-bottom: 3%;
  }
  .secondContainer .secondSonContainer .addFoodButton {
    height: 10%;
    width: 45%;
    font-size: 1.2rem;
    margin-top: 7px;
  }
  .secondContainer .meal-list {
    width: 100%;
    overflow-y: auto;
    max-height: 40vh;
    margin-top: 15px;
    margin-bottom: 12px;
    text-align: center;
    font-size: 1.4em;
  }
  .secondContainer .meal-list h3 {
    font-size: 21px;
  }
  .secondContainer .meal-list .sumButton {
    font-size: 1.1rem;
    height: 25%;
    width: 40%;
  }
  .secondContainer .meal-list .ulList {
    height: 80vh;
    width: 100%;
  }
  .secondContainer .display-nutrition-container {
    margin-top: 3%;
  }
  .secondContainer .display-nutrition-container h2 {
    font-size: 1.3em;
    margin-bottom: 1%;
  }
  .secondContainer .display-nutrition-container p {
    font-size: 1.2em;
  }
  .secondContainer .restart-button {
    margin-top: 2%;
    font-size: 1.1em;
    height: 10%;
    width: 40%;
  }
}
@media (min-width: 380px) and (max-width: 480px) {
  #food-form {
    height: 40%;
    width: 70%;
  }
  #input {
    font-size: 1.3em !important;
  }
  .searchInfo {
    margin-top: 0px;
    height: 70%;
  }
  .nutritionInfo {
    height: 80% !important;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  main {
    height: auto;
  }
  .firstSonContainer {
    height: 20vh;
  }
  .container {
    min-height: 100vh;
  }
  .secondContainer {
    flex: 1;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    min-height: 0;
  }
  .searchInfo {
    height: 60%;
  }
  .searchInfo #food-form {
    height: 50%;
  }
  .searchInfo #button {
    width: 15%;
  }
  .secondSonContainer {
    height: 70vh;
    width: 85%;
  }
  .secondSonContainer p {
    font-size: 1.1em;
    margin-bottom: 4%;
  }
  .nutritionInfo {
    height: 80%;
    overflow-y: auto;
  }
  .addFoodButton {
    height: 7%;
    width: 45%;
    font-size: 1.4rem;
    margin-top: 10px;
  }
  .sumButton {
    height: 8%;
    width: 46%;
    font-size: 1.4rem;
    margin-top: 30px;
  }
  .meal-list {
    width: 80%;
    margin-bottom: 20px;
  }
  .meal-list .ulList {
    font-size: 1.4em;
  }
  .meal-list .ulList li .deleteButton {
    font-size: 0.9em;
  }
  .display-nutrition-container {
    margin-top: 3%;
  }
  .display-nutrition-container h2 {
    font-size: 2.5em;
    margin-bottom: 1%;
  }
  .display-nutrition-container p {
    font-size: 1.8em;
  }
  .displayed-all-nutrition {
    justify-content: start;
  }
  .restart-button {
    margin-top: 2%;
    font-size: 1.77em;
    height: 50%;
    width: 30%;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  main {
    height: auto;
  }
  .container {
    min-height: 100vh;
  }
  .firstSonContainer {
    height: 16vh;
  }
  .firstSonContainer #button {
    width: 14%;
  }
  .secondContainer {
    flex-direction: column;
    align-items: center;
  }
  .secondSonContainer {
    height: 80vh;
    width: 90%;
  }
  .secondSonContainer .nutritionInfo {
    height: 80%;
    overflow-y: auto;
  }
  .secondSonContainer p {
    font-size: 1.1em;
    margin-bottom: 4%;
  }
  .secondSonContainer h2 {
    margin-bottom: 10px;
  }
  .secondSonContainer .addFoodButton {
    height: 7%;
    width: 40%;
    font-size: 1.4rem;
    margin-top: 20px;
  }
  .meal-list {
    width: 90%;
    text-align: center;
    margin-bottom: 25px;
  }
  .meal-list .ulList {
    font-size: 1.3em;
  }
  .meal-list .ulList li .deleteButton {
    font-size: 0.8em;
  }
  .meal-list .sumButton {
    height: 10%;
    width: 40%;
    font-size: 1.4rem;
    margin-top: 20px;
  }
  .displayed-all-nutrition {
    height: auto;
    justify-content: start;
    font-size: 0.8em;
  }
  .displayed-all-nutrition .restart-button {
    margin: 2% 0px;
    width: 20%;
  }
}
@media (min-width: 1024px) and (max-width: 1874px) {
  main {
    height: auto;
  }
  .searchInfo {
    margin-top: 5px;
  }
  .firstSonContainer {
    height: 20vh;
  }
  .firstSonContainer h1 {
    font-size: 1.7rem;
  }
  .firstSonContainer #food-form {
    width: 60%;
    height: 80%;
  }
  .firstSonContainer #button {
    width: 10%;
  }
  #input {
    font-size: 1.3em !important;
  }
  .secondContainer {
    flex-direction: column;
    align-items: center;
    margin-top: 1%;
  }
  .secondContainer .secondSonContainer {
    font-size: 1.7em;
  }
  .secondContainer .secondSonContainer h2 {
    font-size: 32px;
    margin: 1% 0px;
  }
  .secondContainer .secondSonContainer .nutritionInfo p {
    margin-bottom: 2%;
  }
  .secondContainer .addFoodButton {
    font-size: 1.2rem;
    height: 2em;
    height: 2em;
    width: 35%;
    margin: 4% 0px;
  }
  .secondContainer .meal-list {
    height: auto;
    text-align: center;
    margin-bottom: 3%;
  }
  .secondContainer .meal-list h3 {
    font-size: 35px;
  }
  .secondContainer .meal-list .sumButton {
    height: 1.9em;
    width: 34%;
    font-size: 1.3rem;
    margin-top: 4%;
  }
  .secondContainer .restart-button {
    margin-bottom: 2%;
  }
}/*# sourceMappingURL=styles.css.map */